@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-inactive {
    @apply rounded bg-gray-300 p-2 transition duration-300 hover:bg-gray-500;
}

.btn-active {
    @apply rounded border bg-gray-600 p-2;
}

.text-input {
    @apply w-full rounded border border-black p-2;
}

th,
tr,
td {
    @apply border border-black text-center align-middle;
}

.table-btn {
    @apply inline-flex h-10 w-14 items-center justify-center rounded-md border border-black bg-gray-300 transition duration-300 hover:bg-gray-500;
}

.table-btn-active {
    @apply inline-flex h-10 w-14 items-center justify-center rounded-md border border-black bg-gray-500;
}

.answer-image {
    @apply flex cursor-pointer flex-col items-center justify-between rounded-2xl bg-gray-300 transition duration-300 hover:bg-gray-500;
    width: 30%;
}
.answer-image-chosen {
    @apply flex cursor-pointer flex-col items-center justify-between rounded-2xl bg-gray-500;
    width: 30%;
}

.answer-text {
    @apply my-3 w-4/5 cursor-pointer rounded bg-gray-300 p-3 transition duration-300 hover:bg-gray-500;
}

.answer-text-chosen {
    @apply my-2 w-4/5 cursor-pointer rounded bg-gray-500 p-3;
}

.co-creation-comment {
    @apply mt-2 w-3/4 resize-none rounded-lg bg-gray-300 p-3 text-center transition duration-200 hover:bg-gray-200 focus:bg-gray-200 sm:mt-5;
}

textarea::-webkit-scrollbar {
    width: 0px;
}
